# --- Dépendances
/vendor/

# --- Env & secrets
.env
.env.local
.env.*.local
.env.*.secret
!.env.example

# --- Caches/outils QA
/.php-cs-fixer.cache
/.phpunit.cache
/.phpunit.result.cache
/.phpstan

# --- Tests & rapports
/coverage/

# --- IDE & OS
/.idea/
/.vscode/
.DS_Store
Thumbs.db
